.container-fluid{
    border: 4px solid;

    .main{
        border: 2px solid red;
        width: 100vw;

        .container-fluid{
            border: 2px solid blue;
            width: 80vw;
        }
        
    }


}


