.container-fluid{
    // border: 4px solid;

    .main{
        // border: 2px solid red;
        width: 100%;

        .container-fluid{
            // border: 2px solid blue;
            width: 60%;
        }
        
    }


}


